@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
/* Color Palette */
:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 28%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  user-select: none;
}
body {
  background: var(--Dark-Blue);
}
.container {
  height: 100vh;
  justify-content: center;
}
.row {
  align-items: center;
}
.card {
  background: var(--Grayish-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  min-width: 300px;
}
.card .advice-number {
  color: var(--Neon-Green);
  font-size: 14px;
}
.card #advice {
  color: var(--Neon-Green);
  text-transform: uppercase;
  word-spacing: 6px;
  letter-spacing: 4px;
  font-size: 16px;
}
.card #random-text {
  margin-bottom: 1rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: var(--Light-Cyan);
}
.card .warning-border {
  display: flex;
  justify-content: center;
}
.card .warning {
  color: var(--Light-Cyan);
  font-size: 10px;
  padding: 4px;
  text-align: center;
  margin-bottom: 1rem;
  width: 50%;
}
.card .button-border {
  background-color: var(--Neon-Green);
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  cursor: pointer;
}
.card .button-border:hover {
  background-color: var(--Neon-Green);
  box-shadow: 1px 1px 30px 1px var(--Neon-Green);
  transition: 199ms ease-in-out;
}
.card #button {
  width: 1.5rem;
  height: 1.5rem;
}
